{% extends 'projects/project_base.html' %}
{% load static i18n %}
{% load thumbnail %}

{% block title %}{{ object.title }}{% endblock %}
{% block description %}{{ object.tag_line }}{% endblock %}


{% block content %}
<section class="hero">
  <div class="hero-body">
    <picture class="image">
      {% thumbnail object.header_image "480x180" crop="center" as im %}
        <source media="(max-width: 596px)" srcset="{{ im.url }}">
      {% endthumbnail %}

      {% thumbnail object.header_image "960x360" crop="center" as im %}
        <source media="(max-width: 768px)" srcset="{{ im.url }}">
      {% endthumbnail %}

      {% thumbnail object.header_image "1920x480" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.title }} - banner">
      {% endthumbnail %}
    </picture>
  </div>
</section>
<div class="container">
  <section class="section py-1">
    <a href="{% url 'projects:list' %}" class="has-text-info">
      <span class="icon"><i class="fa fa-arrow-left"></i></span>
      {% translate "Back to projects" %}
    </a>
  </section>
  <section class="hero">
    <div class="hero-body">
    {% if request.user.is_authenticated %}
      <div class="buttons">
        <a class="button" href="{% url 'projects:update' object.id %}">Edit</a>
      </div>
    {% endif %}
      <h1 class="title">{{ object.title }}</h1>
      <p class="subtitle">{{ object.tag_line }}</p>
      <p class="content">{{ object.created|date:"D d M Y" }}</p>
    </div>
  </section>
  <section class="section pt-0">
    <article class="content">
      {{ object.body|safe }}
    </article>

    <div class="buttons">
      {% if object.source_link %}
        <a class="button is-info" href="{{ object.source_link}}" target="_blank" rel="noreferrer">Source</a>
      {% else %}
        <a class="button is-static">Source</a>
      {% endif %}
      {% if object.demo_link %}
        <a class="button is-dark" href="{{ object.demo_link}}" target="_blank" rel="noreferrer">Demo</a>
      {% else %}
        <a class="button is-static">Demo</a>
      {% endif %}
    </div>
  </section>
</div>
{% endblock content %}
