{% load static i18n %}
<footer class="footer">
  <div class="columns">
    <div class="column content has-text-centered">
      <p>
        Built with <strong>Django</strong> and <strong>Bulma</strong>.
      </p>
    </div>
    <div class="column is-flex is-justify-content-center">
      <ul>
        <li>
          <a class="has-text-dark" href="https://github.com/lincolnh0" rel="noopener" target="_blank">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
        </li>
        <li>
          <a class="has-text-dark" href="https://linkedin.com/in/lincoln-ho" rel="noopener" target="_blank">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a class="has-text-dark" href="mailto:contact@lincolnh0.com">
            <span class="icon">
              <i class="fas fa-inbox"></i>
            </span>
            <span>Email</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
