{% extends 'blog/post_base.html' %}

{% load static i18n %}
{% block title %}{{ object.title }}{% endblock %}
{% block description %}{{ object.title }}{% endblock %}


{% block content %}
<section class="section">
  <div class="container">
    <section class="section py-1">
      <a href="{% url 'blog:list' %}" class="has-text-info">
        <span class="icon"><i class="fa fa-arrow-left"></i></span>
        {% translate "Back to blog" %}
      </a>
    </section>
    <section class="hero">
      <div class="hero-body">
        {% if request.user.is_authenticated %}
          <div class="buttons">
            <a class="button is-warning" href="{% url 'blog:update' object.id %}">Edit</a>
          </div>
        {% endif %}
        <h1 class="title">{{ object.title }}</h1>
        <p class="content">{{ object.created|date:"D d M Y" }}</p>
      </div>
    </section>
    <section class="section pt-0">
      <article class="content">
        {{ object.body|safe }}
      </article>
    </section>
  </div>
</section>
{% endblock content %}
